.info_title {
    color: var(--Grayscale-Gray-900, #232323);
    font-size: 16px;
    font-weight: 800;
    line-height: 145%;
}

.default_detail_info_div {
    display: flex;
    padding: 6px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Grayscale-Gray-100, #EFEFEF);

    .left {
        display: flex;
        gap: 3px;

        #season {
            width: 55px;
        }

    }

    .default_info_title {
        color: var(--Grayscale-Gray-600, #8D8B8B);
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.12px;
    }

    .default_info {
        color: var(--Grayscale-Gray-900, #232323);
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.12px;
        text-align: right;
    }
}

.default_info_title_div {
    margin-top: 24px;
    padding: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .update_text {
        color: var(--Grayscale-Gray-500, #B0ADAD);
        font-size: 10px;
        font-weight: 400;
        line-height: 150%;
    }

    .toggle_icon {
        width: 24px;
        height: 24px;
    }
}

.default_info_div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .add_person {
        padding: 6px 0px;
        border-bottom: 1px solid var(--Grayscale-Gray-100, #EFEFEF);
        color: var(--Grayscale-Gray-600, #8D8B8B);
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.12px;

    }
}

.bottom_info {
    width: 100%;
    height: 100%;
    padding: 18px 16px;
    margin-bottom: 148px;

    .info_title {
        color: var(--Grayscale-Gray-900, #232323);
        font-size: 16px;
        font-weight: 800;
        line-height: 145%;
    }

    .default_detail_info_div {
        display: flex;
        padding: 6px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--Grayscale-Gray-100, #EFEFEF);

        .default_info_title {
            color: var(--Grayscale-Gray-600, #8D8B8B);
            font-size: 12px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.12px;
        }

        .default_info {
            color: var(--Grayscale-Gray-900, #232323);
            font-size: 12px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.12px;
            text-align: right;
        }
    }

    .default_price_div {
        margin-bottom: 25px;
    }

    .get_info_price_div {
        .character_div {

            display: flex;
            justify-content: flex-end;
            margin-top: -38px;

            img {
                z-index: 0;
                height: 61px;
                width: 63px;
            }
        }

        .get_into_price_div {
            margin-top: -5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .get_into_price_one_div {
            position: relative;
            height: 52px;
            border-radius: 9px;
            background: var(--Primary-Primary-500, #2FC6DD);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 12px;

            .price_detail_text {
                color: var(--Grayscale-White, #FDFDFD);
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: -0.14px;
            }
        }

        .get_into_price_more_div {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            .more_text {
                color: var(--Grayscale-Gray-700, #6A6868);
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: -0.14px;
            }

            img {
                width: 18px;
                height: 18px;
                margin-right: 4px;
            }
        }
    }



    .no_get_info_price_div {
        margin-top: 12px;
        text-align: center;

        .no_price_text {
            color: var(--Grayscale-Gray-600, #8D8B8B);
            font-size: 12px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 8px;
        }

        img {
            width: 170.788px;
            height: 99.001px;
            //opacity: 0.5;
            mix-blend-mode: luminosity;
        }

        .get_info_btn {
            width: 100%;
            height: 32px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Primary-Primary-500, #2FC6DD);
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.14px;
            margin-top: -17px;
            border: 1px solid var(--Primary-Primary-500, #2FC6DD);
            background: var(--Grayscale-White, #FDFDFD);
            position: relative;
            z-index: 1;
        }
    }

    .default_info_title_div {
        margin-top: 24px;
        padding: 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toggle_icon {
            width: 24px;
            height: 24px;
        }
    }

    .default_info_div {
        padding: 10px 0;
    }

    .hall_div {
        margin-top: 10px;
        display: flex;
        gap: 4px;
        flex-direction: column;

        .hall_title {
            color: var(--Grayscale-Gray-900, #232323);
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.14px;
        }

        .hall_img_div {
            width: calc(100% + 32px);
            padding: 0 16px;
            display: flex;
            gap: 9px;
            margin-left: -16px;
            overflow: auto;
            -ms-overflow-style: none;



            img {
                width: 167px;
                height: 92px;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background: lightgray 50%;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .place_div {
        margin-top: 26px;

        .map {
            margin-top: 4px;
            width: 100%;
            height: 126px;
            border-radius: 8px;
        }

        .address_div {
            display: flex;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;

            .address_text {
                color: var(--Grayscale-Gray-900, #232323);
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: -0.14px;
            }

            .map_link {
                color: var(--Grayscale-Gray-400, #C0BEBE);
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: -0.14px;
                border-bottom: 1px solid var(--Grayscale-Gray-400, #C0BEBE);
            }
        }
    }
}

.bottom_price_div {
    width: 100%;
    height: 100%;
    padding: 10px 16px;
    margin-bottom: 141px;
    display: flex;
    flex-direction: column;

    .default_info_title_div {
        margin-top: 0;
    }
}

.bottom_review_div {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 84px;

    .review_div {
        width: calc(100% + 32px);
        padding: 0 16px;
        display: flex;
        gap: 9px;
        overflow-x: auto;
        overflow-y: visible;


        .review_one_div {
            margin-top: 16px;
            margin-bottom: 20px;
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 192px;
            height: 228px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
            border-radius: 16px;
            background: var(--Grayscale-White, #FDFDFD);

            .top_score_div {
                padding-top: 20px;
                padding-bottom: 4px;
                display: flex;
                align-items: center;
                gap: 6px;

                .star_div {
                    display: flex;
                    gap: 2px;

                    .star {
                        width: 14px;
                        height: 14px;
                    }
                }

                .score {
                    color: var(--Grayscale-Gray-900, #232323);
                    font-size: 16px;
                    font-weight: 800;
                }
            }

            .review_contents {
                margin-bottom: 20px;
                padding: 0 32px;
                display: -webkit-box;
                -webkit-line-clamp: 2; // 최대 줄 수
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: var(--Grayscale-Gray-700, #6A6868);
                text-overflow: ellipsis;
                font-size: 12px;
                font-weight: 700;
                line-height: 140%;
            }

            .review_img_div {
                margin-top: 2px;
                width: 100%;
                display: flex;
                gap: 1px;

                .img_left {
                    width: 128px;

                    img {
                        width: 128px;
                        height: 128px;
                        border-bottom-left-radius: 16px;
                        object-fit: cover;
                    }
                }

                .img_right {
                    width: 63px;

                    img {
                        width: 63px;
                        height: 63.5px;
                        object-fit: cover;
                    }

                    .img3 {
                        margin-top: 1px;
                        border-bottom-right-radius: 16px;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .more_review_div {
        display: inline-flex;
        padding: 6px 12px 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        border-radius: 50px;
        border: 1px solid var(--Primary-Primary-500, #2FC6DD);
        background: var(--Grayscale-White, #FDFDFD);

        .more_text {
            color: var(--Primary-Primary-500, #2FC6DD);
            font-size: 12px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.12px;
        }

        img {

            width: 16px;
            height: 16px;
        }
    }
}

.self_btn_div {
    width: 100%;
    display: flex;
    height: 56px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--Primary-Primary-500, #2FC6DD);
    color: var(--Grayscale-White, #FDFDFD);
    font-size: 18px;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: -0.18px;
}

.info_bottom_btn_div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        margin-left: calc(25% - 51px);
        margin-bottom: -6px;
        width: 102px;
    }
}

.price_bottom_btn_div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        margin-left: calc(75% - 74.5px);
        margin-bottom: -6px;
        width: 149px;
    }
}

.review_bottom_btn_div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .bottom {
        padding: 8px 16px;
        background: var(--Grayscale-Background, #FAFAFA);
    }

    .add_review_div {
        margin-bottom: 8px;
        margin-left: calc(100% - 64px);
        display: flex;
        width: 48px;
        height: 48px;
        padding: 13.714px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: var(--Primary-Primary-500, #2FC6DD);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);

        img {
            width: 32px;
            height: 32px;
        }
    }
}
.inquiry_bottom_btn_div{
    margin-top: 41px;
}

.bottom_btn_div {
    height: 78px;
    display: flex;
    padding: 14px 16px 8px;
    gap: 7px;
    background: var(--Grayscale-Background, #FAFAFA);

    .price_btn_div {
        width: 100%;
        display: flex;
        height: 56px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid var(--Primary-Primary-500, #2FC6DD);
        background: var(--Grayscale-White, #FDFDFD);
        color: var(--Primary-Primary-500, #2FC6DD);
        font-size: 18px;
        font-weight: 600;
        line-height: 145%;
        letter-spacing: -0.18px;
    }
}