@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css");

:root {
  --mainfont: 'SUIT Variable', sans-serif;
  background-color: var(--Grayscale-Background, #FAFAFA);
}

.container {
  width: 100%;
  min-width: 340px;
  max-width: 440px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-color: var(--Grayscale-Background, #FAFAFA);
}