#detail_main_wrap {
    height: calc(100% + 160px);
    background-color: var(--Grayscale-Background, #FAFAFA);
    .view_img {
        width: 100%;
        height: 279px;
        border-radius: 0px 0px 32px 32px;
        background-image: url('../../img/detailpage/detailmain_ex.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: lightgray;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    }

    .info_sub_div {
        width: 100%;
        height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        padding: 0 16px;

        .left_div {
            display: flex;
            padding-left: 6px;
            gap: 4px;

            .text {
                color: var(--Grayscale-Gray-600, #8D8B8B);
                font-size: 12px;
                font-weight: 400;
                line-height: 140%;
            }

            .bar {
                color: var(--Grayscale-Gray-600, #8D8B8B);
                font-family: "S-Core Dream";
                font-size: 12px;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.408px;
            }
        }

        .right_div {
            display: flex;
            align-items: center;
            padding-right: 8px;
            gap: 3px;

            .star {
                width: 10px;
                height: 10px;
            }

            .point {
                color: var(--Grayscale-Gray-400, #C0BEBE);
                font-size: 12px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: -0.12px;
            }
        }
    }

    .info_main_div {
        width: 100%;
        padding: 0 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;

        .left_div {
            color: var(--Grayscale-Gray-900, #232323);
            font-size: 18px;
            font-weight: 800;
            line-height: 145%;
            letter-spacing: -0.18px;
        }

        .right_div {
            display: flex;

            .price_text {
                color: var(--Grayscale-Gray-800, #464545);
                font-size: 18px;
                font-weight: 800;
                line-height: 145%;
                letter-spacing: -0.18px;
            }
        }
    }

    .info_menu_div {
        width: 100%;
        padding: 34px 16px 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu_section {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .menu_title {
                height: 100%;
                display: flex;
                align-items: center;
            }

            #select {
                color: var(--Grayscale-Gray-700, #6A6868);
                font-size: 16px;
                font-weight: 800;
                line-height: 145%;
            }

            #no_select {
                color: var(--Grayscale-Gray-400, #C0BEBE);
                font-size: 16px;
                font-weight: 600;
                line-height: 145%;
                letter-spacing: -0.16px;
            }

            .select_bar {
                width: 40px;
                height: 2px;
                border-radius: 100px;
                background-color: var(--Grayscale-Gray-700, #6A6868);
            }
            #no_select_bar{
                display: none;
            }
        }
    }
}